.ant-tree-treenode {
    overflow: hidden;
    white-space: nowrap;
}

.ant-tree-node-content-wrapper  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-tabs {
    width: 100%;
    height: 100%;
}

.ant-tree {
    background-color: transparent;
}

.ant-tabs-content {
    height: 100%;
}

.ant-tabs-tabpane {
    height: 100%;
}

* {
    box-sizing: border-box;
}
