.container {
    display: flex;
    height: 100%;
    width: 100%;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;

    .titleBar {
        width: 100%;
        flex-shrink: 0;
        height: 33px;
        app-region: drag;
        background-color: #e9e7e7;
    }

    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}

.tree {
    /*background-color: rgba(231, 231, 230, 0.95);*/
    font-size: 12px;
    padding: 30px 20px;
    width: 230px;
    flex-shrink: 0;
    border-right: 1px solid var(--color-border-primary);

    .input {
        margin-bottom: 20px;
    }
}

.content {
    flex-grow: 1;
}

.header {
    user-select: none;
    app-region: drag;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    color: rgb(113, 113, 113);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

    .menu {
        app-region: no-drag;
        display: flex;
        align-items: center;
    }
}


.workbench {
    display: flex;
    flex-grow: 1;
    font-size: 13px;
}

.menuContainer {
    width: 200px;
    height: 100%;
    border-right: 1px solid rgba(5, 5, 5, 0.1);
    flex-shrink: 0;
    background-color: rgb(233, 231, 231, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content {
    width: 100%;
    background-color: #fff;
}

.menuItem {
    color: #000;
    text-align: center;
    padding: 8px 0;
}

.active {
    color: dodgerblue;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(231, 231, 230, 0.9);
    height: 30px;
    width: 100%;
}
