.container {
    display: flex;
    height: 100vh;
    width: 100%;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;

    .titleBar {
        width: 100%;
        height: 33px;
        app-region: drag;
        background-color: #e9e7e7;
    }

    .main {
        flex-grow: 1;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .database {
            font-size: 12px;
            width: 230px;
            flex-shrink: 0;
            border-right: 1px solid var(--color-border-primary);
            display: flex;
            flex-direction: column;
            padding: 20px 0;

            .inputWrapper {
                margin-top: 30px;
                padding: 0 20px;

                .input {
                    background-color: var(--color-input-bg);
                }
            }

            .tree {
                margin-top: 20px;
                padding-inline: 20px;
                overflow-y: scroll;
                background-color: transparent;
            }
        }

        .content {
            flex-grow: 1;
            background-color: #fff;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: 100%;

            .header {
                user-select: none;
                app-region: drag;
                height: 50px;
                background-color: #FBFCFE;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 8px;
                color: rgb(113, 113, 113);
                font-weight: 600;
                flex-shrink: 0;
            }

            .workbench {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                font-size: 13px;
                overflow: hidden;

                .console {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .consoleHeader {
                        padding: 8px;
                        margin-bottom: 8px;
                        flex-shrink: 0;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        .runBtn {
                            color: var(--color-primary);
                        }
                        
                        .stopBtn {
                            color: #ff4d4f;
                        }
                        
                        .formatBtn {
                        }
                    }

                    .monacoEditor {
                        height: 300px;
                    }

                    .tableWrapper {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;

                        .tableMenu {
                            /*color: #6e6e6e;*/
                            padding: 2px 8px;
                            width: 100%;
                            /*background-color: var(--color-bg-secondary);*/
                            flex-shrink: 0;
                            border-block: 1px solid var(--color-border-primary);

                            & button {
                                color: inherit;
                            }
                        }

                        .tableFooter {
                            display: flex;
                            justify-content: space-between; /* 两个元素分布在左右两端 */
                            align-items: center; /* 垂直居中对齐 */
                            width: 100%;
                            padding: 10px;
                            height: 30px;
                            background-color: var(--color-bg-secondary);
                            flex-shrink: 0;
                            font-size: 12px;
                            
                            .executeInfo {
                                line-height: 30px;
                                padding: 0 8px;
                            }
                            
                            .executeSql {
                                margin-left: auto;
                                margin-right: auto;
                                text-align: center;
                            }
                        }

                        .tableContent {
                            flex-grow: 1;
                            overflow: hidden;
                            
                            .table {
                                overflow: hidden;
                            }

                            .noTable {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}