.container {
    display: flex;
    height: 100%;
    width: 100%;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;

    .titleBar {
        width: 100%;
        flex-shrink: 0;
        height: 33px;
        app-region: drag;
        background-color: #e9e7e7;
    }

    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .database {
            font-size: 12px;
            width: 230px;
            flex-shrink: 0;
            border-right: 1px solid var(--color-border-primary);
            display: flex;
            flex-direction: column;
            /*overflow-y: scroll;*/

            .inputWrapper {
                margin-top: 30px;
                padding: 0 20px;

                .input {
                    background-color: var(--color-input-bg);
                }
            }

            .tree {
                margin: 20px 0;
                padding-inline: 20px;
                overflow-y: scroll;
                background-color: transparent;
            }
        }

        .content {
            background-color: #fff;
            flex-grow: 1;
            overflow: hidden;

            .header {
                user-select: none;
                app-region: drag;
                height: 50px;
                background-color: #FBFCFE;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 8px;
                color: rgb(113, 113, 113);
                /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);*/

                .menu {
                    app-region: no-drag;
                    display: flex;
                    align-items: center;
                }
            }

            .workbench {
                display: flex;
                font-size: 13px;
                flex-direction: column;
                
                .console {
                    display: flex;
                    flex-direction: column;
                    
                    .consoleHeader {
                        margin-left: 20px;
                        margin-bottom: 20px;
                    }
                    
                    .monacoEditor {
                        
                    }
                    
                    .tableWrapper {
                        overflow: auto;

                        .tableMenu {
                            height: 30px;
                            background-color: #ccc;
                        }

                        .tableContent {
                            flex-grow: 1;
                            overflow: auto;
                        }
                        .tableFooter {
                            height: 30px;
                            background-color: #1f7ac4;
                        }
                    }
                }
            }

        }
    }

    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(231, 231, 230, 0.9);
        height: 30px;
        width: 100%;
    }
}





